.card{
  margin: 3vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.card-header{
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: #2c91d0;
}
.card-body h5{
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.card-body p{
  color: rgb(0, 0, 0);
}
.btn{
  background-color: #f38f1c;
  border-color: #f38f1c;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(1, 95, 152, 0.83);
}
