<!--
<div class="container mt-5" id="add">
  <div class="box">
    <h2 class="text-center">Aggiungi corso</h2>
    <form (ngSubmit)="onSubmit(form)" #form=ngForm>
      <div class="form-group">
        <label for="idUtente">Utente</label>
        <input type="number" class="form-control" id="idUtente" readonly>
      </div>
      <div class="form-group">
        <label for="passwordLog">Corso</label>
        <input [(ngModel)]="this." name="password" type="password" class="form-control" id="passwordLog" placeholder="Inserisci la password" required>
      </div>
      <div class="text-end">
        <button [disabled]="!form.valid" type="submit" class="btn mt-3 btn-secondary btn-block">Login</button>
      </div>
    </form>
  </div>
</div>
-->
